.testimonial-swiper {
  padding: 40px 0 60px 0; /* Beri ruang untuk panah dan pagination */
}
.swiper-button-next,
.swiper-button-prev {
  color: #4f46e5; /* Ganti warna panah */
}
.swiper-pagination-bullet-active {
  background-color: #4f46e5; /* Warna titik pagination saat aktif */
}
